h1,h2,h3,p,nav,dl,ol,ul{
  font-family: 'Rubik', sans-serif;
}

p{
  color:gray;
  font-size: 25px;
}

h1{
  font-size: 50px;
  color: blue;
}

h2{
  font-size: 35px;
}

.sub-content
{
  border: 5px solid red;
  border-radius: 25px;
  margin: 30px;
}

nav{
  background-color: cadetblue;
}



